#game{
    display: flex;
    width: 1000px;
    
}

.card{
    background: url(images/poker.jpg)no-repeat;
    background-size: 100%;
    width: 150px;
    height: 210px;           
    margin: 20px;
}